#match_review {
	position: fixed;
	top: 7%;
	left: 50%;
	width: 90%;
	height: 75%;
	transform: translateX(-50%);
}
#match_review>.prompt_heading {
	color: white;
	text-align: center;
}
.player_review {
	color: white;
	float: left;
	width: 50%;
	height: 100%;
}
.name_review {
	text-align: center;
}
.loading_meter {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loading_meter>img {
	width: 7em;
	height: 7em;
}
.character_selection {
	/* nothing yet */
}
.character_mark {
	width: 25%;
	height: auto;
	cursor: pointer;
}
.character_mark.chosen {
	box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.2);
}
.start_button {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
.start_button > img {
	width: 13em;
	height: auto;
	display: block;
	margin: 0 auto;
}
.start_timer {
	text-align: center;
}
.chosen_character_header {
	color: white;
	text-align: left;
}
.chosen_character_display {
	color: #8bee22;
}
.tower_selection {
	/* nothing yet */
}
.tower_mark {
	display: inline-block;
	width: 12.5%;
	padding-top: 12.5%;
	cursor: pointer;
	position: relative; /* used so that the ::before element can be positioned relative to this */
	
	/* Hide the text. */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.tower_mark.chosen::before {
	content: attr(data-index);
	color: transparent;
	text-shadow: 0 0 3px #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.8em;
	
	/* Reshow text. */
	text-indent: 0;
	white-space: normal;
	overflow: visible;
}
.tower_mark.chosen {
	box-shadow: 0 0 5px 5px rgba(0, 255, 164, 0.2);
}